.card {
  aspect-ratio: 1/1.6;
  border: 0.7vmin solid white;
  cursor: pointer;
  width: 56vmin;
  position: relative;
  z-index: 1;
}
.card::before {
  background: linear-gradient(
    130deg,
    transparent 0% 60%,
    rgba(151, 108, 230, 0.8) 66%,
    rgba(232, 111, 190, 0.8) 83.5%,
    rgba(241, 226, 60, 0.8) 100%
  );
  background-position: 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 1;
}

.card:hover::before {
  transition: background-position 350ms ease;
  background-position: 100% 100%;
  transform: scale(1.028, 1.018);
  z-index: 1;
}

.card-content {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: 100%;
  width: 100%;
  transition: background-position 350ms ease;
}
.card:hover > .card-content {
  background-position: 10% 0%;
}

.card-title,
.card-subtitle {
  color: white;
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
  margin: 2px;
  position: relative;
  z-index: 2;
  padding-left: 6vmin;
  padding-right: 6vmin;
  padding-top: 5vmin;
}

.card-title {
  font-size: 6vmin;
}

.card-subtitle {
  font-size: 3vmin;
}

body {
  background-color: black;
}
